.cid-sFGMfPD7it
{

}

.cid-sFGMfPD7it {
    padding-top: 17rem;
    padding-bottom: 16rem;
    background-image: url("../images/1chkxwdei4gwak4micqy2-2000x2000.jpg");
    background-attachment: fixed;
}
.cid-sFGMfPD7it .mbr-section-title {
    text-align: center;
    color: #ffffff;
}
.cid-sFGMfPD7it .mbr-text,
.cid-sFGMfPD7it .mbr-section-btn {
    text-align: center;
    color: #fafafa;
}

.cid-sFGMfPD7it {
    padding-top: 17rem;
    padding-bottom: 16rem;
    background-image: url("../images/1chkxwdei4gwak4micqy2-2000x2000.jpg");
    background-attachment: fixed;
}
.cid-sFGMfPD7it .mbr-section-title {
    text-align: center;
    color: #353535;
}
.cid-sFGMfPD7it .mbr-text,
.cid-sFGMfPD7it .mbr-section-btn {
    text-align: center;
    color: #5f6366;
}